@namespace Weterynarz.Domain.ViewModels.Doctor
@model DoctorShowGraphicViewModel

<h3>Dostępność lekarza</h3>
<ol>
    <li>Poniedziałek: @Model.Monday</li>
    <li>Wtorek: @Model.Tuesday</li>
    <li>Środa: @Model.Wednesday</li>
    <li>Czwartek: @Model.Thursday</li>
    <li>Piątek: @Model.Friday</li>
    <li>Sobota: @Model.Saturday</li>
    <li>Niedziela: @Model.Sunday</li>
</ol>

