@namespace Weterynarz.Domain.ViewModels.Doctor
@model PagingList<DoctorGraphicItem>
@{
    ViewData["Title"] = "Wszystkie grafiki lekarza";
}

@section breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="@AreaNames.Admin">Strona główna</a></li>
        <li class="breadcrumb-item"><a asp-controller="Users" asp-action="ListDoctors" asp-area="@AreaNames.Admin">Lista lekarzy</a></li>
        <li class="breadcrumb-item active">Wszystkie grafiki lekarza</li>
    </ol>
}

<div class="row mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                @ResAdmin.text_options
            </div>
            <div class="card-body">
                <a class="btn btn-warning" href="@Url.Action("CreateGraphic", "DoctorGraphics", new { area = AreaNames.Admin, doctorId = (string)ViewBag.DoctorId })">@ResAdmin.button_add</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> @ResAdmin.doctorGraphicsAllGraphics_listGraphics
            </div>
            <div class="card-body">
                <table class="table table-striped" id="graphicsTable">
                    <thead>
                        <tr>
                            <th>Data obowiązywania od</th>
                            <th>Data obowiązywania do</th>
                            <th>Aktywny</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.AvailableFrom.ToString(FormatsDate.DateWithoutTime)</td>
                                    <td>@item.AvailableTo.ToString(FormatsDate.DateWithoutTime)</td>
                                    <td>@(item.Active ? Html.Raw("<span class='badge badge-success'>Aktywny</span>") : Html.Raw("<span class='badge badge-danger'>Nieaktywny</span>"))</td>
                                    <td class="text-right">
                                        <a href="@Url.Action("Edit", "DoctorGraphics", new { area = AreaNames.Admin, id = item.Id, doctorId = (string)ViewBag.DoctorId })" class="btn btn-dark">Edytuj</a>
                                        <button id="btnDeleteGraphic" class="btn btn-danger" data-id="@item.Id">Usuń</button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="text-center">
                                <td colspan="5">@ResAdmin.list_emptyRecords</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <nav aria-label="Suppliers navigation example">
                    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
                </nav>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnDeleteGraphic").click(function () {
                var rowId = $(this).data('id');
                var row = $(this).parents('tr');
                var table = $("#graphicsTable");
                
                AppNotify.confirm('Czy na pewno chcesz usunąć ten grafik?', function () {
                    $.ajax({
                        method: "POST",
                        url: '@Url.Action("Delete", "DoctorGraphics", new { area = AreaNames.Admin})',
                        data: {
                            id: rowId,
                            doctorId: '@((string)ViewBag.DoctorId)'
                        },
                        success: function (response) {
                            if (response.messageStatus == 2)
                            {
                                row.fadeOut();
                            }
                            AppNotify.notifyMessage(response, function () { 
                                location.reload();
                            });
                        }
                    });
                });
            });
        });
    </script>
}
