@namespace Weterynarz.Services.ViewModels.MedicalExaminationTypes
@model MedicalExaminationTypesManageViewModel
@{
    ViewData["Title"] = "Manage";
}

@section breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="@AreaNames.Admin">Strona główna</a></li>
        <li class="breadcrumb-item"><a asp-controller="MedicalExaminationTypes" asp-action="Index" asp-area="@AreaNames.Admin">Typy badań</a></li>
        <li class="breadcrumb-item active">Dodaj</li>
    </ol>
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form asp-controller="MedicalExaminationTypes" asp-action="Edit" method="post">
                    <div class="card-header">
                        <strong>@ResAdmin.medicalExaminationTypesEditView_headerForm</strong>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>

                        @Html.HiddenFor(m => m.Id)

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Wprowadź nazwę">
                                </div>
                            </div>
                        </div>
                        <!--/.row-->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <textarea rows="9" class="form-control" asp-for="Description" placeholder="Dodatkowy opis"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--/.row-->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @Html.CheckBoxFor(m => m.Active, new { @class= "form-check-input" })
                                        Czy aktywny?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--/.row-->

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Zapisz</button>
                        <a asp-controller="MedicalExaminationTypes" asp-action="Index" asp-area="@AreaNames.Admin" class="btn btn-sm btn-danger pull-right"><i class="fa fa-ban"></i> Anuluj</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

