@model Weterynarz.Domain.ViewModels.Visit.VisitMakeVisitViewModel
@{
    ViewData["Title"] = "Umów wizytę";
    Layout = "~/Views/Shared/_LayoutSubpage.cshtml";
}

<section id="makeVisit">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Umów wizytę</h2>
                <h3 class="section-subheading text-muted">Szybko i sprawnie umów się na wizytę do weterynarza</h3>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                @if(!User.Identity.IsAuthenticated)
                { 
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Zaloguj się aby <br />uzupełnić niektóre pola</h4>
                            <a href="@Url.Action("Login", "Account", new { area = AreaNames.Admin, returnUrl = Url.Action("MakeVisit", "Visit", new { account = true }) })" class="btn btn-primary btn-lg text-uppercase mt-2">Zaloguj się</a>
                        </div>
                    </div>
                    <hr />
                }
                <div class="row">
                    <div class="col-lg-12">
                        <form id="makeVisitForm" asp-controller="Visit" asp-action="MakeVisit" method="post">                  
                            <div class="row">
                                <div class="col-md-6">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    @Html.HiddenFor(m => m.UserId)

                                    <div class="form-group">
                                        <label asp-for="VisitDate"></label>
                                        <input type="text" class="form-control" id="VisitDate" name="VisitDate" value="@(Model.VisitDate == DateTime.MinValue ? "" : Model.VisitDate.ToString(FormatsDate.Date))" />
                                        <span asp-validation-for="VisitDate" class="help-block text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="VetId"></label>
                                        <select asp-for="VetId" class="form-control" asp-items="@Model.VetsSelectList"></select>
                                        <span asp-validation-for="VetId" class="help-block text-danger"></span>
                                    </div><br /><br />

                                    @if (User.Identity.IsAuthenticated && Model.AnimalsSelectList.Count() > 0)
                                    {
                                        <div class="form-group">
                                            <label asp-for="AnimalId"></label>
                                            <select asp-for="AnimalId" class="form-control" asp-items="@Model.AnimalsSelectList"></select>
                                            <span asp-validation-for="AnimalId" class="help-block text-danger"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label asp-for="AnimalName"></label>
                                            <input asp-for="AnimalName" class="form-control" type="text">
                                            <span asp-validation-for="AnimalName" class="help-block text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="AnimalTypeId"></label>
                                            <select asp-for="AnimalTypeId" class="form-control" asp-items="@Model.AnimalTypesSelectList"></select>
                                            <span asp-validation-for="AnimalTypeId" class="help-block text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="AnimalBirthdate"></label>
                                            <input type="text" class="form-control" id="AnimalBirthdate" name="AnimalBirthdate" value="@(Model.AnimalBirthdate == DateTime.MinValue ? "" : Model.AnimalBirthdate.ToString(FormatsDate.DateWithoutTime))" />
                                            <span asp-validation-for="AnimalBirthdate" class="help-block text-danger"></span>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <label asp-for="ReasonVisit"></label>
                                        <textarea asp-for="ReasonVisit" class="form-control"></textarea>
                                        <span asp-validation-for="ReasonVisit" class="help-block text-danger"></span>
                                    </div>
                                    @*<div class="form-group">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-9 pl-0">
                                    <input asp-for="Address" class="form-control" type="text" placeholder="Adres">
                                    <span asp-validation-for="Address" class="help-block text-danger"></span>
                                </div>
                                <div class="col-md-3 pr-0">
                                    <input asp-for="HomeNumber" class="form-control" type="text" placeholder="Numer domu">
                                    <span asp-validation-for="HomeNumber" class="help-block text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="City" class="form-control" type="text" placeholder="Miejscowość">
                        <span asp-validation-for="City" class="help-block text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ZipCode" class="form-control" type="text" placeholder="Kod pocztowy">
                        <span asp-validation-for="ZipCode" class="help-block text-danger"></span>
                    </div>*@
                                </div>
                                <div class="col-md-6">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <div class="form-group">
                                            <label asp-for="UserName"></label>
                                            <input asp-for="UserName" class="form-control" type="text">
                                            <span asp-validation-for="UserName" class="help-block text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Email"></label>
                                            <input asp-for="Email" class="form-control" type="text">
                                            <span asp-validation-for="Email" class="help-block text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password"></label>
                                            <input asp-for="Password" class="form-control" type="password">
                                            <span asp-validation-for="Password" class="help-block text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ComparePassword"></label>
                                            <input asp-for="ComparePassword" class="form-control" type="password">
                                            <span asp-validation-for="ComparePassword" class="help-block text-danger"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(m => m.UserName)
                                        @Html.HiddenFor(m => m.Email)
                                    }
                                    <div class="form-group">
                                        <label asp-for="Name"></label>
                                        <input asp-for="Name" class="form-control" type="text">
                                        <span asp-validation-for="Name" class="help-block text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Surname"></label>
                                        <input asp-for="Surname" class="form-control" type="text">
                                        <span asp-validation-for="Surname" class="help-block text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block p-3">Umów wizytę</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {

            $('#VisitDate').datetimepicker({
                locale: 'pl',
                format: _formats_.dateFormat,
                useCurrent: false,
                keepOpen: false
            });

            $('#AnimalBirthdate').datetimepicker({
                locale: 'pl',
                format: _formats_.dateFormatNoHours,
                useCurrent: false,
                keepOpen: false
            });
        });
    </script>
}