
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i> @ResAdmin.leftNavbar_home</a>
            </li>
            @if (User.IsInRole(UserRoles.Admin))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="List" asp-area="@AreaNames.Admin"><i class="fa fa-users" aria-hidden="true"></i> @ResAdmin.leftNavbar_users</a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> @ResAdmin.leftNavbar_settings</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Settings" asp-action="Content" asp-area="@AreaNames.Admin"><i class="fa fa-align-left"></i> @ResAdmin.leftNavbar_contentHomePage</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-book" aria-hidden="true"></i> @ResAdmin.leftNavbar_dictionares</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="AnimalTypes" asp-action="Index" asp-area="@AreaNames.Admin"><i class="icon-puzzle"></i> @ResAdmin.leftNavbar_animalTypes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="MedicalExaminationTypes" asp-action="Index" asp-area="@AreaNames.Admin"><i class="icon-puzzle"></i> @ResAdmin.leftNavbar_medicalExaminationTypes</a>
                        </li>
                    </ul>
                </li>  
            }
        </ul>
    </nav>
    @*<button class="sidebar-minimizer brand-minimizer" type="button"></button>*@
</div>
