@namespace Weterynarz.Domain.ViewModels.PriceList
@model PagingList<PriceListIndexViewModel>
@{
    ViewData["Title"] = "Choroby";
}

@section breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="@AreaNames.Admin">Strona główna</a></li>
        <li class="breadcrumb-item active">Cennik</li>
    </ol>
}

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">
                @ResAdmin.text_options
            </div>
            <div class="card-body">
                <a class="btn btn-warning" asp-controller="PriceList" asp-action="Create">@ResAdmin.button_add</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> @ResAdmin.priceListIndex_list
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Typ</th>
                            <th>Cena</th>
                            <th>Aktywny</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Type.DisplayName()</td>
                                    <td>@item.Price.ToString("C")</td>
                                    <td>@(item.Active ? Html.Raw("<span class='badge badge-success'>Aktywna</span>") : Html.Raw("<span class='badge badge-danger'>Nieaktywna</span>"))</td>
                                    <td class="text-right">
                                        <a href="@Url.Action("Edit", "PriceList", new { area = AreaNames.Admin, id = item.Id})" class="btn btn-dark">Edytuj</a>
                                        <a href="@Url.Action("Delete", "PriceList", new { area = AreaNames.Admin, id = item.Id })" id="btnDelete" class="btn btn-danger">Usuń</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="text-center">
                                <td colspan="5">@ResAdmin.list_emptyRecords</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <nav aria-label="Suppliers navigation example">
                    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
                </nav>
            </div>
        </div>
    </div>
</div>
