@model HomeIndexViewModel
@{
    ViewData["Title"] = "O nas";
}

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">@HtmlExtensions.GetCacheContent(SettingsContentState.AboutUsTitle, Model.SiteContent)</h2>
                <h3 class="section-subheading text-muted">@HtmlExtensions.GetCacheContent(SettingsContentState.AboutUsSubTitle, Model.SiteContent)</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/aboutUs/img1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@HtmlExtensions.GetCacheContent(SettingsContentState.AboutUsParag1Title, Model.SiteContent)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@HtmlExtensions.GetCacheContent(SettingsContentState.AboutUsParag1Text, Model.SiteContent)</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/aboutUs/img2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@HtmlExtensions.GetCacheContent(SettingsContentState.AboutUsParag2Title, Model.SiteContent)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@HtmlExtensions.GetCacheContent(SettingsContentState.AboutUsParag1Text, Model.SiteContent)</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/images/aboutUs/img3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@HtmlExtensions.GetCacheContent(SettingsContentState.AboutUsParag3Title, Model.SiteContent)</h4>      
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@HtmlExtensions.GetCacheContent(SettingsContentState.AboutUsParag3Text, Model.SiteContent)</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>