@namespace Weterynarz.Domain.ViewModels.Visit
@model VisitManageViewModel
@{
    ViewData["Title"] = "Dodaj wizytę";
}

@section breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="@AreaNames.Admin">Strona główna</a></li>
        <li class="breadcrumb-item"><a asp-controller="Visits" asp-action="Index" asp-area="@AreaNames.Admin">Wizyty</a></li>
        <li class="breadcrumb-item active">Dodaj</li>
    </ol>
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <form asp-controller="Visits" asp-action="Create" method="post">
                <div class="card-header">
                    <strong>@ResAdmin.visitCreateView_headerForm</strong>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="VisitDate"></label>
                                <input type="text" class="form-control" id="VisitDate" name="VisitDate" value="@(Model.VisitDate == DateTime.MinValue ? "" : Model.VisitDate.ToString(FormatsDate.DateWithoutTime))" placeholder="Data wizyty" />
                                <span asp-validation-for="VisitDate" class="help-block text-danger"></span>
                            </div>
                        </div>
                    </div> 
                    <!--/.row-->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea rows="9" class="form-control" asp-for="Description" placeholder="Dodatkowy opis"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--/.row-->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" asp-for="Active" checked="checked">
                                        Czy aktywny?
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--/.row-->

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Dodaj</button>
                    <a asp-controller="AnimalTypes" asp-action="Index" asp-area="@AreaNames.Admin" class="btn btn-sm btn-danger pull-right"><i class="fa fa-ban"></i> Anuluj</a>
                </div>
            </form>
        </div>
    </div>
</div>

